<!DOCTYPE html>
<html lang="en">
<head>
    <title>DigiRestro - Login</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../Admin/assets/css/app.min.css">
    <link rel="stylesheet" href="../Admin/assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../Admin/assets/css/style.css">
    <link rel="stylesheet" href="../Admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../Admin/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../Admin/assets/img/logo.png'/>
</head>

<body>
<!--<div class="loader"></div>-->
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <h1 class="text-center text-dark">DigiRestro</h1>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Reset Password</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/forgot-password" class="needs-validation" novalidate="" onsubmit="return validateForm()">
                                <!-- <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email_id" tabindex="1"
                                           required autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in your email
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label for="password">New Password</label>
                                    <input id="password" type="password" class="form-control"
                                           name="new_password" tabindex="2" required>
                                    <div class="invalid-feedback">
                                        Please fill in your new password
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password-confirm">Confirm Password</label>
                                    <input id="password-confirm" type="password" class="form-control"
                                           name="confirm_password"
                                           tabindex="2" required>
                                    <div class="invalid-feedback">
                                        Please fill in your confirm password
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function validateForm() {
        // var email = document.getElementsByName("email_id")[0].value;
        var password = document.getElementsByName("password")[0].value;
        var cpassword = document.getElementsByName("confirm-password")[0].value;

        // Validate email
        // var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        // if (!emailRegex.test(email)) {
        //     alert("Please enter a valid email address.");
        //     return false;
        // }

        // Validate password (at least 8 characters)
        if (password.length < 8) {
            alert("Password should be at least 8 characters long.");
            return false;
        }

        // Validate password and confirm password match
        if (password !== cpassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<!-- General JS Scripts -->
<script src="../Admin/assets/js/app.min.js"></script>
<!-- Template JS File -->
<script src="../Admin/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="../Admin/assets/js/custom.js"></script>
</body>
</html>